<div>
  {{ form.value | json }}
  <form [formGroup]="form">
    <mat-card id="form">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Idade</mat-label>
          <input matInput formControlName="idade" />
        </mat-form-field>
      </div>
    </mat-card>
    <button mat-raised-button color="primary" (click)="validar()">
      Toast do Suspense
    </button>
    (Este botão pertence ao componente que não sei a cor)
    <br />
    <br />
    <button mat-raised-button color="primary" (click)="enviar()">
      "Enviar para o back"
    </button>
    (Este botão pertence ao componente que não sei a cor)
  </form>

  <br />
  <br />
  <br />
  <br />

  <app-telefone [formGroupOriginal]="form" arrayName="telefones">
  </app-telefone>

  <br />
  <br />
  <br />
  <br />

  <app-endereco [formGroupOriginal]="form" groupName="endereco"> </app-endereco>
</div>
